snippet ii "italics"
*$0*
endsnippet

snippet bb
**$0**
endsnippet

snippet bi
***$0***
endsnippet

snippet foldp
<!-- ${1:Fold description} {{{ -->

${2:${VISUAL:Content}}

<!-- }}} $1 -->
endsnippet
